{% extends "layout2.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    Sign In | Network
{% endblock %}

{% block body %}
    <div class="user-box shadow-lg">
        <div>
            <div style="text-align: center;">
                <img src="{% static 'network/Images/logo_icon.png' %}" height="45em" style="margin-bottom: 2vh;">
                <h3>Log in to Network</h3><br>
            </div>
        </div>

        <form action="{% url 'login' %}" method="post" id="signin-form" style="width: 100%;margin-bottom: 5vh;">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                {% render_field form.username class="form-control inp usrnm" placeholder="Username" autocomplete="off" %}
            </div>
            <div class="form-group">
                {% render_field form.password class="form-control inp pswd" placeholder="Password" autocomplete="off" %}
            </div>
            <div style="text-align: center;">
                <input class="btn btn-primary" type="submit" value="Log in" style="margin-top: 10px; width: 95%;"
                       disabled>
            </div>
        </form>

        <div>
            <div style="text-align: center;">
                <p>Don't have an account?&nbsp;&nbsp;<a href="{% url "register" %}">Sign Up</a></p>
                <p>Forgot password? <a href="{% url "password_reset" %}">Reset your password</a></p>
            </div>
        </div>
    </div>
{% endblock %}




