{% extends "layout2.html" %}
{% load widget_tweaks %}

{% load static %}

{% block title %}
    Network | Reset Your Password
{% endblock %}

{% block body %}
    <div class="user-box shadow-lg">
        <div>
            <div style="text-align: center;">
                <img src="{% static 'network/Images/logo_icon.png' %}" height="45em" style="margin-bottom: 2vh;">
                <h3 class="mb-3">Reset your password</h3>
            </div>
        </div>

        {% if validlink %}
            <form method="post" style="width: 100%;margin-bottom: 5vh;">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field form.new_password1 class="form-control inp" placeholder="New password" autocomplete="off" %}
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <p class="fs-6 text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% render_field form.new_password2 class="form-control inp" placeholder="Confirm password" autocomplete="off" %}
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <p class="fs-6 text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div style="text-align: center;">
                    <input class="btn btn-primary" type="submit" value="Reset password"
                           style="margin-top: 10px; width: 95%;">
                </div>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.</p>
        {% endif %}

    </div>
{% endblock %}