{% extends "layout2.html" %}
{% load widget_tweaks %}

{% load static %}

{% block script %}
    <script src="{% static "network/signup.js" %}"></script>
{% endblock %}

{% block title %}
    Sign Up | Network
{% endblock %}


{% block body %}
    <div class="user-box shadow-lg" style="margin-top: 6vh;">
        <div>
            <div class="text-center">
                <img src="{% static 'network/Images/logo_icon.png' %}" height="45em" style="margin-bottom: 2vh;">
                <h3>Sign up for Network</h3><br>
            </div>
        </div>

        <form action="{% url 'register' %}" method="post" id="signin-form"
              style="width: 100%;margin-bottom: 5vh;" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row align-items-center">
                    <div class="col-sm-6 my-1">
                        {% render_field auth_form.first_name class="form-control inp fname" placeholder="First Name" autocomplete="off" %}
                    </div>
                    <div class="col-sm-6 my-1">
                        {% render_field auth_form.last_name class="form-control inp lname" placeholder="Last Name" autocomplete="off" %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {% render_field auth_form.username class="form-control inp usrname" placeholder="Username *" autocomplete="off" %}
                {% if auth_form.username.errors %}
                    {% for error in auth_form.username.errors %}
                        <p class="fs-6 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {% render_field auth_form.email class="form-control inp email" placeholder="Email Address *" autocomplete="off" %}
                {% if auth_form.email.errors %}
                    {% for error in auth_form.email.errors %}
                        <p class="fs-6 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {% render_field auth_form.password class="form-control inp pswd" placeholder="Password *" autocomplete="off" %}
                {% if auth_form.password.errors %}
                    {% for error in auth_form.password.errors %}
                        <p class="fs-6 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {% render_field auth_form.password2 class="form-control inp cpswd" placeholder="Confirm Password *" autocomplete="off" %}
                {% if auth_form.password2.errors %}
                    {% for error in auth_form.password2.errors %}
                        <p class="fs-6 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <div class="custom-file">
                    {% render_field profile_form.profile_image class="form-control custom-file-input" id="profile" data-focusable="true" aria-describedby="inputGroupFileAddon01" %}
                    <label class="custom-file-label" for="profile"><span
                            style="color: #6c757d;">Choose profile picture<span></label>
                    {% if profile_form.profile_image.errors %}
                        {% for error in profile_form.profile_image.errors %}
                            <p class="fs-6 text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    {% render_field profile_form.profile_cover class="form-control custom-file-input" id="cover" data-focusable="true" aria-describedby="inputGroupFileAddon01" %}
                    <label class="custom-file-label" for="cover"><span
                            style="color: #6c757d;">Choose cover picture<span></label>
                    {% if profile_form.profile_cover.errors %}
                        {% for error in profile_form.profile_cover.errors %}
                            <p class="fs-6 text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Sign Up" style="margin-top: 10px; width: 95%;">
            </div>
        </form>

        <div>
            <div class="text-center">
                Already have an account?&nbsp;<a href="{% url 'login' %}">Log in</a>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}
